h1 {
  margin-bottom: 5px;
}

.visa-logo {
  margin-top: 0.5em;
  width: 35%;
}

.paypal-logo {
  margin-top: 0.5em;
  padding:1em;
  width: 55%;
}

form ul {
  list-style: none;
}

.submit-payment-button {
  font-size: 3.5em;
}

.payment-div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
  margin-top: 5%;
  border: 2px solid black;
  border-radius: 15%;
  margin-top:3em;
}

form ul li {
  text-align: center;
  padding: 1em 1em;
}
h1{
  font-size: 4em;
}
form ul li label {
  font-size:4em;
  margin:0.5em 0.5em;
}
form ul li input {
  font-size:4em;
  margin:0.5em 0.5em;
  width: 60%;
  border:0.1em black solid;
}

button {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

#container {
  height: 100%;
  width: 100%;
  font-family: 'Roboto Slab', serif;
}

nav {
  text-align:center;
  background-color: #666;
  height: 70px;
  margin-top: 0px;
  color: white;
}

a, a:visited {
  text-decoration: none;
  color:white;
}

a, .modalButton {
  cursor: pointer;
}

.nav__back {
  float:left;
  margin-left: 10px;
  margin-top: -20px;
}

.nav__logout {
  float:right;
  margin-right: 10px;
  margin-top: -15px;
  color:white;
}

#nav__title {
  padding-top: 20px;
  font-size: 24px;
}

.fa-arrow-left{
  color:#FFF;
}

h2 {
  margin-top: 40px;
  font-size: 2em;
  text-align: center;
  color: #666;
}

.blink {
  animation: blinker 1s linear 1s;
  animation-iteration-count: 3;
}

@keyframes blinker {
  100% { opacity: 0; }
}

.payments, .payment-progress {
  border: #666 solid 1px;
  border-radius: 5px;
  height: 95px;
  width:90%;
  margin:0 auto;
}

.payment-progress {
  margin-top: 20px;
  height:260px;
}

.fake-table {
  width:90%;
  margin:0 auto;
  clear:both;
  padding:0.5em;
}

.table-key, .buttons--left {
  width:45%;
  float:left;
}

.table-value, .buttons--right {
  width:45%;
  float:right;
  border-radius: 5px;
}

.table-value__input-field {
  width: 35%;
  border-radius: 5px;
  margin-left: 2px;
}

.welcome {
  height: auto;
}

.payment-progress__welcome {
  height: auto;
}

h3, h4 {
  color:#666;
  margin:10px 10px 0px 10px;
}

h4 {
  margin-top: 15px;
}

p {
  margin:10px 10px 10px 10px;
  font-size: 1em;
}

#chart_div {
  margin-top: 10px;
  margin-left: 10px;
}

#chart_alt {
  display: none;
}

.payment__buttons {
  margin-top: 30px;
  margin-left: 10%;
  height: 95px;
  width:80%;
  clear:both;
}

.buttons {
  text-align: center;
  padding-top: 5px;
  height:25px;
  border-radius: 5px;
  background-color: #666;
  color: white;
  border: none;
}

.payment-detail__button {
  position:fixed;
  margin-top: 5vh;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  padding-bottom: 15px;
}
.payment-detail__div{
  width:100%;
  clear:both;
}
footer {
  margin:0;
  position:fixed;
  bottom:0;
  width:100%;
  background-color:#ffe67b;
  padding:1em 0 1em 0;
  text-align:center;
  color:#666;
}

@media (max-width: 360px) {
  #container {
    height: 75%;
  }

  h2 {
    font-size: 1.5em;
    margin-top: 15px;
  }

  .payments {
    font-size: 0.8em;
    height: 75px;
  }

  .payment-progress {
    height: 230px;
  }

  .payment-detail__button {
    position:fixed;
    margin-top: 2vh;
  }

  .payment__buttons {
    margin-top: 10px;
  }

  .buttons {
    font-size: 0.8em;
  }

  p {
    font-size: 0.8em;
  }

}

@media (max-width: 320px) {

  .payment-progress {
    height: 230px;
    background-image: url(https://i.imgflip.com/1gcuaq.jpg);
    background-size: contain;
    background-attachment: fixed;
  }

  #chart_div {
    display: none;
  }


}


@media (min-width: 700px) {

  .body {
    width: 360px;
    height: 680px;
    margin: auto;
    border: solid 1px #666;
  }

  footer {
    width: 360px;
  }

  .payment__buttons {
    margin-top: 10px;
  }

}
