.modalButton {
  position: fixed;
  bottom: 26px;
  right: 39%;
  background-color: #bfc6d0;
  width: 110px;
  height: 35px;
  border-style: none;
  border-radius: 5%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 6vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 340px;
    height: 535px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    height: 135px;
    background-color: #ffe67b;
    color: black;
}

.modal-body {
  padding: 13px 16px 5px;
}

.write-your-name {
  resize: none;
  padding: 8px;
  width: 287px;
  height: 15px;
  overflow: hidden;
}

.write-your-message {
  resize: none;
  padding: 8px;
  width: 287px;
  height: 250px;
}

.send-message-button {
  margin-top: 5px;
  width: 307px;
  background-color: #ffe67b;
  border-style: none;
}

h2 {
  margin: 15px 0 15px;
}
